.tabs a.active{
    color: hsl(48, 100%, 67%);
    background-color: hsl(48, 100%, 96%);
    border-color: transparent;
    &:hover, &:focus {
        background-color: hsl(48, 100%, 96%);
        border-color: transparent;
    }
}

.table .text-align, .table th.text-align {
    text-align: end;
}
.subtitle {
    text-transform: uppercase;
    text-align: center;
}

.is-absolute {
    position: absolute;
    bottom: -10px;
    left: 0;
}
.is-absolute-centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.has-min-height {
    min-height: 280px;
}

.has-full-height {
    min-height: 100vh;
}
.has-max-width {
    max-width: 560px;
}

.container {
    max-width: 780px;
}

.is-crossed-out{
    text-decoration: 2px line-through red;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: $success;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
    background-color: $warning;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
    background-color: $danger;
}